
html{
  min-height: 100%;
  position: relative;
}

body{
	background-color: #f6f5ff;
}



ul.b{
	list-style-type: square;
	padding-top: 5px;
	font-size: 20px;
	
}

.navbar {
	padding-top: 20px;
	padding-bottom: 15px;
	font-size: 15px;
	letter-spacing: 5px;
	background-color: #c5f2fc;
}

.navbar-brand p{
	text-align: left;
}

.navbar-nav  li a:hover {
    color: #1abc9c;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #021c22;
	position: bottom;
}

.footer p {
	margin-top: 30px;
	font-size: 18px;
  color: #fff;
}

.dropdown-menu{
	height: auto;
	width: 200px;
	align-items: center;
	padding: 3%;
	margin-top: 2.5rem;
	transform: translate(30%,0);
}

.dropdown-menu a{
	display: block;
	line-height: 3;
	align-items: center;
	text-align: center;
	color: #6C6C6C;
	font-size: 1.5rem;
}

.dashboardheading h1{
	text-align: center;
	margin-top: 5rem;
}

#videolec{
	padding: 100px;
}

.videolecheading p{
	color: black;
	font-size: 3rem;
	padding-left: 5rem;
}

.videolec p{
	color: #6C6C6C;
	font-size: 2rem;
	padding-right: 15rem;
	line-height: 2;
}


.containerdashboard{
  height: 350px;
  width: 1000px;
  box-sizing: border-box;
  transform: translate(15%,-15%);
  padding: 40px 25px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 2px 3px 5px 4px #000000;
}

#formulasheets{
	padding: 50px;
	margin-left: 5rem;
}

#books{
	padding: 50px;
	margin-left: 5rem;
}

#quiz{
	padding: 50px;
	margin-left: 5rem;
}


.quizssss a{
	color: #6C6C6C;
	font-size: 2rem;
	padding-right: 15rem;
	line-height: 2;
}


#survey{
	padding: 50px;
	margin-left: 5rem;
}