<%- include("partials/header1"); -%>

<div class="dashboardheading">
<h1>Welcome <%= username %></h1>
</div>

<section id="videolec">
    <div class="containerdashboard">
	    <div class="row">
		    <div class="col-lg-6">
			    <div class="videolecheading">
				    <p>Video Lectures</p>
				</div>
			</div>
			<div class="col-lg-6">
			    <div class="videolec">
				   <p>Complex Numbers</p>
				   <p>Integration</p>
				   <p>Probability</p>
				   <p>Differentiation</p>
				   <p>Trigonometric</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="books">
    <div class="containerdashboard">
	    <div class="row">
		    <div class="col-lg-6">
			    <div class="videolecheading">
				    <p>Books</p>
				</div>
			</div>
			<div class="col-lg-6">
			  <div class="videolec">
				   <p>Complex Numbers</p>
				   <p>Integration</p>
				   <p>Probability</p>
				   <p>Differentiation</p>
				   <p>Trigonometric</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="formulasheets">
    <div class="containerdashboard">
	    <div class="row">
		    <div class="col-lg-6">
			    <div class="videolecheading">
				    <p>Formula sheets</p>
				</div>
			</div>
			<div class="col-lg-6">
			  <div class="videolec">
				   <p>Complex Numbers</p>
				   <p>Integration</p>
				   <p>Probability</p>
				   <p>Differentiation</p>
				   <p>Trigonometric</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="quiz">
    <div class="containerdashboard">
	    <div class="row">
		    <div class="col-lg-6">
			    <div class="videolecheading">
				    <p>Quizzes</p>
				</div>
			</div>
			<div class="col-lg-6">
			  <div class="quizssss">
				   <p><a href="#">Complex Numbers</a></p>
				   <p><a href="#">Integration</a></p>
				   <p><a href="#">Probability</a></p>
				   <p><a href="#">Differentiation</a></p>
				   <p><a href="#">Trigonometric</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="survey">
    <div class="containerdashboard">
	    <div class="row">
		    <div class="col-lg-6">
			    <div class="videolecheading">
				    <p>Survey's</p>
				</div>
			</div>
			<div class="col-lg-6">
			  <div class="quizssss">
				   <p><a href="#">Complex Numbers</a></p>
				   <p><a href="#">Integration</a></p>
				   <p><a href="#">Probability</a></p>
				   <p><a href="#">Differentiation</a></p>
				   <p><a href="#">Trigonometric</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
<%- include("partials/footer1"); -%>