<%- include("partials/header1"); -%>

<form class="" action="/quiz" method="post">
  <div>
   <p>1. Hello ?</p>
   <p><input type="radio" name="question1" value="Yes">A. Yes</p>
   <p><input type="radio" name="question1" value="I am fine">B. I am fine</p>
   <p><input type="radio" name="question1" value="I am ok">C. I am ok</p>
    <p>2. Hungry? ?</p>
	<p><input type="radio" name="question2" value="Yes">A. Yes</p>
   <p><input type="radio" name="question2" value="I am fine">B. I am fine</p>
   <p><input type="radio" name="question2" value="I am ok">C. I am ok</p>
   <button type="submit" class="btnvideo">Submit</button> 
</form>


<%- include("partials/footer1"); -%>