<%- include("partials/header1"); -%>


   <form class="" action="/dash" method="post">
   <label><input type="checkbox" name="cbx" value="option1" onChange="this.form.submit()"> Option 1</label>
   <label><input type="checkbox" name="cbx" value="option1" onChange="this.form.submit()">  Option 2</label>
  <label><input type="checkbox" name="cbx" value="option1" onChange="this.form.submit()">  Option 3</label>
   </form>
</div>


<%- include("partials/footer1"); -%>